flows.json
[{"id":"bf1b2a79.8bade8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1659bc6.69cee8","type":"ui_form","z":"bf1b2a79.8bade8","name":"","label":"","group":"37d77037.dfaaf","order":2,"width":0,"height":0,"options":[{"label":"enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["418d36ab.a3b098"]]},{"id":"418d36ab.a3b098","type":"function","z":"bf1b2a79.8bade8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["b96efc27.75ccd","9816d659.b5d178"]]},{"id":"46ddbb6.b446444","type":"function","z":"bf1b2a79.8bade8","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["1e2297b4.41e328","5293c84f.165ad8"]]},{"id":"b96efc27.75ccd","type":"watson-conversation-v1","z":"bf1b2a79.8bade8","name":"Customer","workspaceid":"77594f0f-5d8d-4f71-ab53-02e82d586886","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/51f1e880-fc62-410d-875d-c1b4c78d91f0","timeout":"","optout-learning":false,"x":460,"y":60,"wires":[["46ddbb6.b446444"]]},{"id":"9816d659.b5d178","type":"ui_text","z":"bf1b2a79.8bade8","group":"37d77037.dfaaf","order":1,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":430,"y":240,"wires":[]},{"id":"1e2297b4.41e328","type":"debug","z":"bf1b2a79.8bade8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":60,"wires":[]},{"id":"5293c84f.165ad8","type":"ui_text","z":"bf1b2a79.8bade8","group":"37d77037.dfaaf","order":3,"width":7,"height":5,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":740,"y":240,"wires":[]},{"id":"37d77037.dfaaf","type":"ui_group","z":"","name":"Chat Bot","tab":"131b89.4ae02478","order":1,"disp":true,"width":7,"collapse":false},{"id":"131b89.4ae02478","type":"ui_tab","z":"","name":"Customer","icon":"dashboard","disabled":false,"hidden":false}]